.ui-grid-comp {
  .runtime {
    display: block;
    background: darkblue;
    color: white;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    margin: -14px auto 0 auto;
    text-align: center;
    padding-top: 5px;
    font-weight: 700;
    position: relative;
    top: 50%;
    font-size: 0.8em;

    &:hover, &:visited, &:active {
      text-decoration: none;
    }
  }

  .ratio {
    background: green;
    height: 11px;
    width: 35px;
    margin: 2px auto;
  }

  .idle-ratio {
    background: orange;
    height: 100%;
  }

  #grid {
    height: 850px;
  }

  .icon {
    float: left;
  }

  .asset-info {
    float: right;
    width: 280px;
    padding: 0 .25em;
    margin: 0 .2em;
    font-size: 12px;
    line-height: 1em;

    li:first-child {
      font-weight: 700;
    }
  }
}